* {
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

button {
    all: unset;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.banner {
    background-image: url(images/antelope-canyon-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.banner-title {
    background-color: rgb(0, 0, 0, .33);
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 33%;
}

.banner > p {
    color: #fff;

    margin-top: auto;
    font-size: 12px;
}

.banner > p > a {
    color: #fff;
    text-decoration: underline;
}

.banner-title > img {
    max-height: 84px;
    display: inline;
    margin: 42px;
    margin-right: 0px;
}

.title {
    font-family: "neue-kabel", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    color: white;
    display: inline;
    margin: 42px;
}

.content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;

    background-color: #F9FAFB;
}

.content > * {
    padding-left: 50px;
}

.cta {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-weight: 700;
    font-size: 24px;
}

.cta > p:last-child {
    margin-bottom: 50px;
}

#contact-info {
    flex-basis: 35%;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
}

#contact-info > h1 {
    font-weight: 600;
    margin-bottom: 36px;
}

.submit {
    flex-basis: 30%;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.first, .last, .mail,
.phone, .password, .confirm-password {
    width: 50%;
    margin-bottom: 24px;
}

input {
    padding: 6px 12px;
}

input:focus {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: smaller;
}

.submit {
    margin-top: 48px;
}

button {
    padding: 15px;
    background-color: #f77c47;
    border-radius: 10px;
    padding: 12px 48px;

    color: #fff;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.submit > p {
    margin-top: 36px;
}

a {
    color: #f77c47;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}